*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Bengali', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.head{
    font-weight: 800;
    font-family: 'Noto Sans Bengali', sans-serif;
}


/* blog */
.blog-text{
    font-size: 22px;
    line-height: 35px;
}
.highlights{
    color: #1756B3;
}
.blog{
    margin-top: 108px;
}


.commnad_line{
    background-color: #a7a786d1;
    color: black;
    padding: 10px;
}

/* blog end */


/* footer */
footer ul{
    list-style-type: none;
    margin-left: 15px;
}

footer ul li a{
    color: white;
}
/* footer end */

/* responsive */
@media screen and (max-width: 500px) {
    .head{
        font-size: 30px;
    }

    footer iframe{
        width: 320px;
        height: 150px;
    }
}