
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.head{
    font-weight: 800;
    font-family: 'Noto Sans Bengali', sans-serif;
}



/* assignment & suggestion part */
.assignment, .suggetion{
    margin: 120px 0;
    /* display: none; */
}

.assignment dl dd, .suggetion dl dd{
    margin-left: 20px;
}


.assignment .video_section #pcb_video{
    display: none;
}

.assignment .video_section .unlock_section .keys{
    outline: none;
    height: 25px;
    width: 35%;
    font-weight: bolder;
    padding: 20px;
}
/* assignment part end */




/* footer */
footer ul{
    list-style-type: none;
    margin-left: 15px;
}

footer ul li a{
    color: white;
}
/* footer end */




/* Responsive */

@media screen and (max-width: 500px) {
    .head{
        font-size: 25px;
        font-weight: 800;
        font-family: 'Noto Sans Bengali', sans-serif;
    }

    .assignment a{
        display: inline-block;
        margin-bottom: 20px;
    }

    .assignment .video_section .unlock_section .keys{
        width: 100%;
    }

    
    

    footer iframe{
        width: 320px;
        height: 150px;
    }
    
}