
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.head{
    font-weight: 800;
    font-family: 'Hind Siliguri', sans-serif;
}

/* form body */
.form-body{
    margin-top: 108px;
}
/* form body end */








/* footer */
footer ul{
    list-style-type: none;
    margin-left: 15px;
}

footer ul li a{
    color: white;
}
/* footer end */





/* Responsive */

@media screen and (max-width: 500px) {
    .head{
        font-size: 25px;
        font-weight: 800;
        font-family: 'Hind Siliguri', sans-serif;
    }


    .form-body iframe{
        width: 340px;
    }

    footer iframe{
        width: 320px;
        height: 150px;
    }
    
}