*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Bengali', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.head{
    font-weight: 800;
    font-family: 'Noto Sans Bengali', sans-serif;
}

/* notice */
.notice{
    margin-top: 125px;
}

.notice .box{
    background-color: #ddd;
    border-radius: 8px;
    width: 371px;
    margin: 20px auto;
}

.notice .box .img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice .box .img img{
    width: 88px;
    height: 88px;
}
/* notice end */


/* footer */
footer ul{
    list-style-type: none;
}
footer ul a{
    color: white;
}


/* footer end */

/* responsive */
@media screen and (max-width: 500px) {
    .head{
        font-size: 30px;
    }

    .notice .box{
        width: 305px;
    }


    footer iframe{
        width: 314px;
        height: 150px;
    }
}