@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.head{
    font-weight: 800;
    font-family: 'Hind Siliguri', sans-serif;
}
/* Header */
header{
    background-color: rgb(0, 89, 255);
}

header img{
    width: 20%;
    height: auto;
}

header .navbar-toggler span{
    font-size: 20px;
}

header span{
    font-size: 35px;
    color: white;
    line-height: 78px;
}

header ul li{
    padding: 0 20px;
}
header ul li a{
    font-size: 16px;
    padding: 0 20px;
    font-weight: 600;
    font-family: 'Hind Siliguri', sans-serif;
}
/* Header End*/

/* notice */
.notice{
    margin-top: 125px;
}

.notice .box{
    background-color: #ddd;
    border-radius: 8px;
    width: 371px;
    margin: 20px auto;
}

.notice .box .img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice .box .img img{
    width: 88px;
    height: 88px;
}
/* notice end */


/* footer */
footer ul{
    list-style-type: none;
}
footer ul a{
    color: white;
}


/* footer end */

/* responsive */
@media screen and (max-width: 500px) {
    .head{
        font-size: 30px;
    }
    header img{
        display: none;
    }

    header span{
        display: block;
    }

    .notice .box{
        width: 305px;
    }


    footer iframe{
        width: 314px;
        height: 150px;
    }
}