* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Bengali", sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.head {
  font-weight: 800;
  font-family: "Noto Sans Bengali", sans-serif;
}

/* table */
tr {
  height: 120px;
  text-align: center;
}
/* table end */

/* footer */
footer ul {
  list-style-type: none;
}
footer ul a {
  color: white;
}
/* footer end */

/* responsive */
@media screen and (max-width: 500px) {
  .head {
    font-size: 30px;
  }

  /* table */
  table th {
    font-size: 20px;
  }
  table td {
    font-size: 15px;
    font-weight: 800;
  }
  /* table end */

  footer iframe {
    width: 320px;
    height: 150px;
  }
}
