

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Bengali', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.head{
    font-weight: 800;
    font-family: 'Noto Sans Bengali', sans-serif;
}

/* tutorials */
.tutorials{
    margin-top: 108px;
}


.tutorials .box{
    background-color: #ddd;
    border-radius: 8px;
    width: 371px;
    margin: 20px auto;
}

.tutorials .box .img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tutorials .box .tut-img{
    width: 88px;
    height: auto;
}
.tutorials .box .soft-img{
    width: 40%;
    height: auto;
}
/* tutorials end */

/* footer */
footer ul{
    list-style-type: none;
    margin-left: 15px;
}

footer ul li a{
    color: white;
}
/* footer end */








/* responsive */
@media screen and (max-width: 500px) {
    .head{
        font-size: 30px;
    }

    .tutorials .box{
        width: 305px;
    }    


    footer iframe{
        width: 320px;
        height: 150px;
    }
}